
.quiz {
    height: 100%;
    display: flex;
    justify-content: center;

}

.quiz .name {
    display: flex;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    background-color: #EEEEEE;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

.quiz .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 1000px;
    height: 650px;
    background-color: #fff;
    border-radius: 10px;
}

.quiz img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.quiz button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    background-color: #9773FF;
    margin-top: 40px;
    box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.15);
}



.challange{
    height: 100%;
    display: flex;
    justify-content: center;

}
.challange .name{
    display: flex;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    background-color: #EEEEEE;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}
.challange .block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 1000px;
    height: 650px;
    background-color: #fff;
    border-radius: 10px;
}

.challange img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}


.challange .options{
    display: flex;
    gap: 30px;
    
}
.challange .border{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 270px;
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.178);
    margin-bottom: 10px;
}

.challange .active{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 270px;
    background-color: #e2dafd;
    border-radius: 10px;

}

.challange .right-choice{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 270px;
    background-color: #85FFB6;
    border-radius: 10px;

}

.challange .wrong-choice{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 270px;
    background-color: #FF646D;
    border-radius: 10px;

}

.challange .button-active{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    background-color: #9773FF;
    margin-top: 40px;
    box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.15);
}

.challange .button-disabled{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    background-color: #979797;
    margin-top: 40px;
    box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.15);

}