.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome .title{
    margin-top: 80px;
    font-size: 50px;
    font-weight: 700;
    color: #E7F1FE;
}
.welcome .text{
    margin-top: 20px;
    font-size: 20px;
}

.welcome .selections{
    margin-top: 40px;
    display: flex;
    gap: 60px;
}
.welcome .select{
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
}

.welcome .select-title{
    height: 40px;
    background-color: #202020;
    color:#fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 40px;

}