
.navbar {
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color: #fff;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
}

.navbar .user-bar {
    height: 100px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    background-color: #E6E6E6;
    align-items: center;
    border-radius: 10px;

}

.navbar .wallet {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar .avatar {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar .user {
    margin-left: 20px;
}

.navbar .user .name {
    font-size: 25px;
    font-weight: 700;
}

.navbar .logo {
    margin-left: 20px;
    margin-right: 40px;
    font-size: 25px;
    font-weight: 600;
    color: #717171;
}

.navbar .logo .purple {
    color: #9773FF;
}

.navbar .avatar img {
    height: 80px;
    width: 80px;
}

.navbar .home {
    display: flex;
    margin-left: 50px;
    font-weight: 700;

}

.navbar .home a {
    text-decoration: none;
}

.navbar .learn-box{
    display: flex;
    flex-direction: column;
    align-items: left;

}

.navbar .learn-box .not-connected{
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: rgb(177, 177, 177);
    color:rgb(247, 247, 247);
}

.navbar .learn-box .connected{
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #4BFF93;
}

.navbar .learn-box select{
    height: 30px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: #E5E5E5;
}


.navbar .learn-box .title{
    height: 30px;
    margin-bottom: 5px;
}

.navbar .learn-box .config{
    display: flex;
    gap: 15px;
}

.navbar .learn-box .choosen-lang{
    display: flex;
    align-items: center;
    height: 30px;
}


.navbar .learn-box .lang{
    height: 30px;
}
.navbar .learn-box .lang-sort{
    margin-left: 5px;
    height: 10px;
    width: 10px;
}

.navbar .connect {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;

    align-items: center;
    border-radius: 10px;

}

.navbar .connect button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #9773FF;
}

